.Dinning .text-yellow {
    color: #f6d284 !important;
}
.Dinning .border-color {

    border: 2px solid #f6d284 !important;
}


/*--------------------------------------- Slide Carousal Start --------------------------------------------*/
.slide-carousal .slick-image{
    max-width: 100%;
    height: 600px;
  }
  .main-heading-dinning{
    color: #fff;
    font-size: 5rem;
    line-height: 110%;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    margin-bottom: 0;
    transition: font 200ms ease-out;
    text-shadow: 0px 0px 20px #000000;
  
  }
  .slide-carousal .menu{
  
    background-color: #181717 !important;
    width: 400px;
  }


  @media (max-width: 1200px) {
    .main-heading-dinning {
      font-size: 4rem; 
    }
  }
  
  @media (max-width: 992px) {
    .main-heading-dinning {
      font-size: 3.5rem; 
    }
  }
  
  
  

  
 /*--------------------------------------- Slide Carousal End --------------------------------------------*/ 