.date-picker input[type='text']{
   border-radius: 0% !important;
}
.react-datepicker{
   background-color: #000 !important;

}
.react-datepicker__day{
   color: #ebc880bf !important;
}
.react-datepicker__header{
   background-color: #000 !important;
}
.react-datepicker__current-month{
   color: #ebc880bf !important; 
}
.react-datepicker__day-name{
   color: #ebc880bf !important;
}
.react-datepicker__day--selected{
   background-color:#ebc880bf !important;
   color: #000 !important; 

}
.react-datepicker__day--keyboard-selected{
   background-color:#ebc880bf !important;
   color: #000 !important;
} 
.react-datepicker__day:hover{
   background-color:#ebc880bf !important;
   color: #000 !important;
}
.react-datepicker__day--disabled:hover{
   background-color:  #000!important;
   color: #ebc880bf !important;
}
