.border-sidebottom-0{
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-color: black !important;
    border-radius: 0px;
    --tw-ring-offset-color:none !important;
}
.focus\:outline-none:focus{
    box-shadow: none !important;
}
textarea:focus{
      box-shadow: none !important;
    border-color: black !important;
}
.intl-tel-input.allow-dropdown input{
    margin-left: 40px !important;
}
.intl-tel-input{
    width: 90% !important;
}