/* -------------------Room Start -------------------------- */
.room .side-image{
    max-width: 100%;
    height: 185px;
}
.room .room-heading{
    color: #444;
    background: #9b855b14;
    font-size: 18px;
    margin-top: 0px;
    padding: 10px 10px;
}
.room .d-prices{
    color: #AF996F;
    font-size: 16px;
    text-align: left;
    padding-right: 10px;
    margin-bottom: 0px;
}
@media (max-width: 768px) {
    .room .side-image {
        height: auto; 
        max-width: inherit; 
    }
}
/* -------------------Room End -------------------------- */
/* -------------------Booking Start -------------------------- */
.bookings .heading{
    font-size: 18px !important;
    background: #000000 !important;
    padding: 10px 30px;
    line-height: 1.5;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin: 0;
}
.bookings h6{
    font-weight: bold !important;
    padding: 10px 14px 2px;
    margin: 0 !important;
    font-size: 20px;
    font-family: 'apercubold';
    float: left;
    width: 100%;
}
.bookings span{
    color: #212529;
    font-size: 15px !important;
    padding: 0 14px 0;
    font-family: 'aperculight';
    font-size: 17px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.bookings .room-type {
    color: #AF996F !important;
    font-family: 'apercumedium';
    padding: 6px 14px;
    font-size: 17px;
    margin-top: 0;
    float: left;
    width: 100%
}

/* -------------------Booking End -------------------------- */