

.main-heading-room{
    font-size: 2.25rem !important;
    font-family: "Playfair Display", serif;
    color: black;
}
.main-paragraph-room{
    font-size: 1rem;
}



/*--------------------------- Rooms Card Start ---------------------------------------*/
.day-book{
    background: #000000;
    font-family: 'Jost', sans-serif;
    color: #d0902e;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
    margin-top: -45px;
    position: relative;

}
.main-heading-room{
    font-size: 20px;
    font-family: "Playfair Display", serif;
    color: black;
    text-align: start !important;
    font-weight: bold;
}
.main-paragraph-room{
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}
.room-icon{
  max-width: 100%;
  height: 20px;

}
.roomscard{
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.07) !important;
    min-height: 600px !important;
}
/*--------------------------- Rooms Card End ---------------------------------------*/

