.about-us-background {
  /* Set height and width as needed for your section */
  width: 100%;

  background-image: linear-gradient(to right, #000000 70%, #d0902e 30%);
}

.el-messiri-bold {
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
