.footer{
   background-color:  #000000 !important;   
}
.footer .logo{
    height: 100px;  
}
.footer .icon-color{
   color: #ffffff;
}
.footer .footer-heading{
   font-size: 1.125rem;
   color: #ffffff;

}
.footer .footer-link{
   cursor: pointer;
   color: #fff;
}
.footer .line{
   color: #ffffff;
   height: 16px;
}